body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: lightgray;
}

.content 
{
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    background-color: coral;
}

.content p 
{
    text-align: justify;
    padding: 10px;
    text-indent: 80px;
}